################################################
# PANELS
################################################

# Note: Uncommenting means to delete the "#" at the beginning of a line. Commenting out means to add a "#" at the beginning of a line. The "#" tells the theme wether to ignore the line or not.

gtk_color_scheme = "fg_color:#101010\nbg_color:#D8D8D8\nbase_color:#fff\ntext_color:#1A1A1A\nselected_bg_color:#729FCF\nselected_fg_color:#fff\ntooltip_bg_color:#F5F5B5\ntooltip_fg_color:#000"


style "theme-panel"
{
#	bg_pixmap[NORMAL]	= "/Panels/panel-bg-dark.png" # Disable for normal panel backgrounds.

	bg[SELECTED]	= "#3a6086" # Makes selected items dark.
	bg[NORMAL]	= "#121417" #"#3c3c3c" # Makes panel background dark.
	bg[PRELIGHT]	= "#3a6086" # shade (0.85, @selected_bg_color) # Makes panel button prelight dark.
	bg[ACTIVE]	= "#222" #shade (0.60, @bg_color) # Makes active buttons dark.
	bg[INSENSITIVE]	= "#3C3C3C"
	fg[NORMAL]	= "#E6E6E6" # Makes panel text light.
	fg[PRELIGHT]	= "#fff"  # Makes prelighted text colored.
	fg[SELECTED]	= "#fff"  # Makes prelighted text colored.
	fg[ACTIVE]	= "#fff"  # Makes active text colored.
	fg[INSENSITIVE]	= "#666666" # Color for insensitive text.
	text[NORMAL]	= "#E6E6E6"
	text[PRELIGHT]	= "#eee" #@selected_fg_color  # Makes prelighted text colored.
	text[SELECTED]	= "#eee" #@selected_fg_color  # Makes prelighted text colored.
	text[ACTIVE]	= "#eee" #@selected_fg_color  # Makes active text colored.
	text[INSENSITIVE]	= "#666666"
}

# Panel settings. Do not change.
widget "*PanelWidget*"		style "theme-panel"
widget "*PanelApplet*"		style "theme-panel"
widget "*fast-user-switch*"	style "theme-panel"
widget "*CPUFreq*Applet*"	style "theme-panel"
widget "*indicator-applet*"	style "theme-panel"
class "PanelApp*"		style "theme-panel"
class "PanelToplevel*"		style "theme-panel"
widget_class "*PanelToplevel*"	style "theme-panel"
#widget_class "*Mail*"		style "theme-panel" # Disabled to fix Evolution bug.
#class "*Panel*"		style "theme-panel" # Disabled to fix bug.
widget_class "*notif*"		style "theme-panel"
widget_class "*Notif*"		style "theme-panel"
widget_class "*Tray*"		style "theme-panel" 
widget_class "*tray*"		style "theme-panel"
widget_class "*Applet*Tomboy*"	style "theme-panel"
widget_class "*Applet*Netstatus*"	style "theme-panel"

# XFCE panel theming.
widget "*Xfce*Panel*"		style "theme-panel"
class "*Xfce*Panel*"		style "theme-panel"
widget "*Places*"		style "theme-panel"
