Source: xubuntu-artwork
Section: x11
Priority: optional
Maintainer: Xubuntu Developers <xubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Vcs-Git: https://git.launchpad.net/xubuntu-artwork.git
Vcs-Browser: https://git.launchpad.net/xubuntu-artwork

Package: xubuntu-artwork
Architecture: all
Depends: ${misc:Depends}, elementary-xfce-icon-theme, shimmer-themes, libnewt0.52 (>= 0.52.11-2ubuntu7),
 plymouth-theme-xubuntu-logo, plymouth-theme-xubuntu-text, xubuntu-wallpapers
Description: Xubuntu themes and artwork
 This package contains the Xubuntu themes and artwork. Including themes
 are the GTK and icon themes from the Shimmer Project, as well as Xubuntu
 application themes. Xubuntu artwork consists of wallpapers and boot
 backgrounds.

Package: xubuntu-wallpapers
Architecture: all
Depends: ${misc:Depends}
Suggests: xubuntu-community-wallpapers
Description: Xubuntu desktop wallpapers
 This package contains the default wallpapers for past and current
 versions of Xubuntu.
 .
 For community wallpapers, please see the xubuntu-community-wallpapers
 package.

Package: plymouth-theme-xubuntu-logo
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label
Provides: plymouth-theme
Breaks: plymouth (<< 0.9.2-3ubuntu1~)
Description: graphical boot animation and logger - xubuntu-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default xubuntu-logo theme.

Package: plymouth-theme-xubuntu-text
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-theme-ubuntu-text
Provides: plymouth-theme
Breaks: plymouth (<< 0.9.2-3ubuntu1~)
Description: graphical boot animation and logger - xubuntu-text theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default xubuntu-text theme used when no support for
 a graphical theme is found on your system.

Package: xubuntu-icon-theme
Section: oldlibs
Priority: optional
Architecture: all
Depends: ${misc:Depends}, elementary-xfce-icon-theme
Description: Xubuntu icon theme (transitional package)
 This package is a transitional package for elementary-xfce-icon-theme.
