[GdmGreeterTheme]
Greeter=Xubuntu.xml
Name=Xubuntu Jaunty Default
Description=Misty view to the lake.
Author=Pasi "knome" Lallinaho.
Copyright=GPL
Screenshot=screenshot.jpg
